@import url('./assets/css/style.css');

body{
    padding: var(--md3-space-between-elements);
}

nav{
    margin-bottom: var(--md1-space-between-elements);
}
ul{
    display: flex;
    gap:  calc(var(--sm1-space-between-elements) * 13);    
}

section{
    margin-bottom: var(--md1-space-between-elements);
}
form{
    display: flex;
    flex-direction: column;
    gap: var(--md1-space-between-elements);
}
div{
    display: flex;
    flex-direction: column;
}

button:hover{
    cursor: pointer;
}