*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto';
    
}
:root{
    --sm1-space-between-elements: 3px;
    --md1-space-between-elements: 9px;
    --md2-space-between-elements: 12px;
    --md3-space-between-elements: 15px;
    
    --van-width: 306px;
    --van-height: calc(var(--van-width) * 2.31);
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf');    
}

header, main, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    max-width: 420px;
}